<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Outlet obuv</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap/css/cdb.min.css"/>  </head>
  <body>
  <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'products:index' %}">Outlet Obuv</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products:about' %}">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Корзина
          </a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="dropdown-item" href="{% url 'users:profile' user.id %}">
                  Профиль
                </a>
              </li>
              <li class="nav-item">
                <form method="POST" action="{% url 'users:logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item">Выйти</button>
                </form>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="dropdown-item" href="{% url 'users:login' %}">Войти</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="{% url 'users:registration' %}">Регистрация</a>
              </li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="{% url 'products:search' %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='search_holder'>
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

  {% block content %} {% endblock %}
  {% block footer %}

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Since 2019</p>
    </div>
</footer>
{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap/js/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap/js/cdb.min.js"></script>
</html>